.alert {
  padding: 1em;
  border-radius: 5px;
  border: 2px solid gray;
  margin-bottom: 1em;
  &.alert-success {
    background-color: #cbffcb;
    border-color: #2a692a;
  }
  &.alert-error {
    background-color: #ffcbcb;
    border-color: #692a2a;
  }
}
