@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(0.97);
  }
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 500%;
  }
}
