a.contact-us {
  display: block;
  position: fixed;
  bottom: 2.5em;
  text-decoration: none;
  right: 2em;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(black, 0.3);
  color: $color-primary;
  font-size: 1.2em;
  padding: 1em 2em;
  border-radius: 100px;
  transition: all 0.3s;
  opacity: 0.4;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px 0 rgba(black, 0.3);
    opacity: 1;
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 10px 0 rgba(black, 0.3);
  }
}

@media only screen and (max-width: 1024px) {
  a.contact-us {
    display: none;
  }
}
