footer {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  padding: 1em;
  justify-items: center;
  align-items: center;

  & a.footer-logo {
    display: block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../img/logo-noir.png");
  }
}
