.homepage {
  & .home-img {
    position: fixed;
    top: 0;
    background-image: url("../img/apartment-406901_1920.jpg");
    opacity: 0.55;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  & .header {
    display: block;
    margin: 43vh auto 37vh auto;
    width: 50%;
    position: relative;
    text-align: center;

    @media only screen and (max-width: 1420px) {
      width: 75%;
    }
    @media only screen and (max-width: 1024px) {
      width: 80%;
      margin-top: 35vh;
      margin-bottom: 25vh;
    }

    & .header__title {
      border-top: 5px solid black;
      border-bottom: 5px solid black;
      padding: 1.5em;
      margin-bottom: 3em;
      @media only screen and (max-width: 600px) {
        font-size: 0.75em;
      }
    }

    animation: fadein 2s ease;
  }

  & h1,
  & h2 {
    color: black;
  }

  & h1 {
    margin-top: 0.5em;
    font-size: 3em;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  & h2 {
    margin-top: 1em;
    font-weight: 100;
    @media only screen and (max-width: 1024px) {
      margin-top: 0;
    }
  }

  & button.btn--submit {
    margin-top: 3em;
  }
}
