$navlinkColor: #333;
$navlinkHover: #000;
$navlinkBg: #ddd;

$navlinkShrinkColor: #ddd;
$navlinkShrinkHover: #fff;
$navlinkShrinkBg: #000;

$navbar-mobile-height: 75px;

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.5s ease-out;

  & a.nav-logo {
    display: block;
    background-size: cover;
    justify-self: center;
  }

  & i {
    color: $color-primary;
    cursor: pointer;
    justify-self: right;
    font-size: 2em;
    margin-right: 10px;
    padding: 10px;
  }

  & ul {
    transition: all 0.5s ease;
    list-style: none;
  }

  & a.nav-item {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 27px;
    padding-top: 27px;
    color: black;
    font-size: 1.1em;
    text-align: center;

    &:hover,
    &.active {
      border-bottom: 3px solid $darker;
      padding-bottom: 24px;
    }
  }
}

nav.navbar {
  display: grid;
  height: 180px;

  & ul {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  & a.nav-logo {
    background-image: url("../img/logo-noir.png");
    height: 100px;
    width: 100px;
  }

  & i {
    grid-column: 5/6;
  }
  & a.nav-item {
    font-size: 1.2em;
  }
  &.shrink {
    background: black;
    height: $navbar-mobile-height;
    box-shadow: 0 3px 15px 0 rgba(black, 0.25);

    & ul {
      padding-top: 0;
      padding-bottom: 0;
    }

    & a.nav-item {
      color: $light;

      &:hover,
      &.active {
        color: $color-primary;
        border-bottom: 3px solid $color-primary;
      }
    }

    & a.nav-logo {
      background-image: url("../img/logo-blanc.png");
      height: 60px;
      width: 60px;
    }
  }
}

nav.navbar-mobile {
  display: none;

  & .black-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: $navbar-mobile-height;
    align-items: center;
    background-color: black;
    z-index: 10;
    box-shadow: #000 0 0 5px 0;
  }

  & a.nav-logo {
    background-image: url("../img/logo-blanc.png");
    height: 60px;
    width: 60px;
  }

  & .burger-container {
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.5s ease;

    & .line1,
    & .line2,
    & .line3 {
      display: block;
      width: 40px;
      height: 3px;
      background-color: white;
      transition: all 0.5s ease;
    }

    & .line2,
    & .line3 {
      margin-top: 10px;
    }
  }

  & ul {
    position: fixed;
    top: -300px;
    left: 0;
    right: 0;
    background-color: $lighter;
    text-align: center;
    z-index: -1;
    padding: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  nav.navbar-mobile {
    display: block;

    &.opened {
      & ul {
        top: $navbar-mobile-height;
        box-shadow: rgba(black, 0.5) 0 0 0 5000px;
      }

      & .burger-container {
        transform-origin: center center;
        transform: rotate(45deg);
        transition-delay: 0.5s;
      }

      & .line1 {
        width: 0;
      }

      & .line3 {
        transform: translateY(-13px) rotate(-90deg);
        transform-origin: center center;
      }
    }
  }

  nav.navbar {
    display: none;
  }
}
